@font-face {
  font-family: 'Proxima Nova';
  src: url("http://vetts.venturiaapps.com/fonts/ProximaNova-Reg-webfont.eot");
  src: local('Proxima Nova'),
  url("http://vetts.venturiaapps.com/fonts/ProximaNova-Reg-webfont.woff") format('woff'),
  url("http://vetts.venturiaapps.com/fonts/ProximaNova-Reg-webfont.ttf") format('truetype'),
  url("http://vetts.venturiaapps.com/fonts/ProximaNova-Reg-webfont.svg#webfontpGYjoJws") format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face { font-family: elena-web; src: url('fonts/fontregular.woff'); }
@font-face { font-family: elena-web; src: url('fonts/fontregularitalic.woff'); font-style: italic; }
@font-face { font-family: elena-web; src: url('fonts/fontbold.woff'); font-weight: bold; }
@font-face { font-family: elena-web; src: url('fonts/fontbolditalic.woff'); font-weight: bold; font-style: italic; }
