@import url(fonts.css);

body {
    background-color: #f0efe4;
}

body, p, ol, ul, td, th {
    font-family: elena-web, Georgia, Times, "Times New Roman", serif;
    line-height: 18px
}

.rightContainer a {
    font-size: 14px;
}

.rightContainer .bookMeta a {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

ul.pollAnswers {
    line-height: 22px;
}

.mainContentContainer .mainContent {
    background-color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
}

#pageHeader h1 {
    font-family: "Proxima Nova", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.bigBox {
    margin-bottom: 15px;
}

.content620 .authorName,
.content620 .bookTitle,
.content620 .by,
.gradientHeaderContainer a,
.bigBox .h2Container h2,
.serif, a.header14 {
    text-transform: uppercase;
    font-family: "Proxima Nova" !important;
}

.mediumTabs .tab, .mediumTabs .selectedTab, .bigTabs .tab, .bigTabs .selectedTab, .h2Container {
    background: none;
    margin-bottom: 0px;
    padding-bottom: 3px;
}

h2.brownBackground {
    background: none;
}

.bigBox .h2Container h2 {
    font-size: 14px;
    padding-left: 0px;
    padding-bottom: 3px;
    height: 18px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
}

.bigBox .h2Container h2 a {
    color: #111;
}

.bigBox .h2Container h2 a:hover {
    color: #000;
}

tr.update td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.updateBodyAfterImageShort {
    margin-top: -2px;
}

#hp_status_editor .title {
    font-size: 13px;
}

.updateAction {
    margin-bottom: 10px;
}

tr.update .bookTitle {
    font-size: 14px;
}

.bigBox ul, .bigBox ol, .noticeBox ul, .noticeBox ol {
    padding-left: 0;
}